@use './variables' as *;

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablet-subheader {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
}