// COLORS VARIABLES

// primary colors

$BandSite-Black: #323232;
$Silver: #AFAFAF;
$White: #FFF;

// secondary colors

$BandSite-DarkBlack: #000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;


// RESPONSIVE - MEDIA QUERIES VARIABLES

$tablet-width: 768px;
$desktop-width: 1280px;
$wrapper-width: 1000px;