@font-face {
  font-family: "AvenirNextLT-regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLT-bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLT-demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "AvenirNextLT-regular", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #323232;
}

.about, .photos, footer {
  padding: 1rem;
}

.header__wrapper, .hero__wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.subheader {
  font-size: 24px;
  font-family: "AvenirNextLT-demi", Arial, sans-serif;
  font-weight: 700;
  line-height: 32px;
}

.header {
  background-color: #323232;
}
.header .header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header .header__wrapper .logo {
  text-decoration: none;
  max-width: 120px;
  max-height: 20px;
  text-transform: uppercase;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
}
.header .header__wrapper nav {
  width: 100%;
}
.header .header__wrapper nav .nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.header .header__wrapper nav .nav__list .nav__item {
  width: 50%;
  display: flex;
  justify-content: center;
}
.header .header__wrapper nav .nav__list .nav__item.nav__item--active {
  border-bottom: 4px solid #FFF;
}
.header .header__wrapper nav .nav__list .nav__item.nav__item--active .nav__link {
  font-family: "AvenirNextLT-demi";
  color: #FFF;
}
.header .header__wrapper nav .nav__list .nav__item.nav__item:hover {
  border-bottom: 4px solid #FFF;
}
.header .header__wrapper nav .nav__list .nav__item.nav__item:hover .nav__link {
  color: #FFF;
}
.header .header__wrapper nav .nav__list .nav__item .nav__link {
  color: #E1E1E1;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100vw;
}
.hero .hero__overlay {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #323232;
  position: relative;
}
.hero .hero__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 1rem;
}
.hero .hero__wrapper .hero__title {
  margin: 0;
  color: #FFF;
  position: relative;
}

.about .about__title {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
}
.about .about__img {
  width: 100%;
}
.about .quote {
  font-size: 16px;
  font-family: "AvenirNextLT-demi";
}
.about .bio .bio__title {
  font-size: 14px;
  line-height: 22px;
  font-family: "AvenirNextLT-demi", Arial, sans-serif;
}
.about .bio .bio__infocard {
  font-size: 13px;
  line-height: 18px;
  color: #323232;
}

.photos {
  background-color: #FAFAFA;
  padding: 1rem 1rem 0rem 1rem;
}
.photos .photos__gallery .photos__item {
  width: 100%;
  padding-bottom: 1rem;
}

footer {
  background-color: #323232;
  color: #FFF;
}/*# sourceMappingURL=bio.css.map */