@use './partials/mixin' as *;
@use './partials/variables' as *;
@use './partials/fonts' as *;

// GENERAL STYLING

* {
  box-sizing: border-box;
  // border: 1px dashed orange;
}

body {
  margin: 0;
  font-family: 'AvenirNextLT-regular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: $BandSite-Black;
}

.about, .photos, footer {
  padding: 0rem 1rem;
}

// wrapper:
.header__wrapper,
.hero__wrapper,
.photos__wrapper,
.footer__wrapper,
.about__wrapper,
.shows__wrapper,
.comments__wrapper,
.wrapper {
  max-width: 62.5rem;
  margin: 0 auto;
}
.logo {
  text-decoration: none;
  max-width: 7.5rem;
  max-height: 1.25rem;
  text-transform: uppercase;
  color: $White;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-top: 1rem;

  @include tablet {
    padding-left: 0;
    margin-top: 0;
  }
}

.subheader {
  font-size: 1.5rem;
  font-family: 'AvenirNextLT-demi', Arial, sans-serif;
  font-weight: 700;
  line-height: 2rem;
  color: $BandSite-DarkBlack;
}

// NAV BAR / HEADER SECTION

.header {
  background-color: $BandSite-Black;
  @include tablet {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 80;
  }

  &__wrapper {
    @extend .wrapper;
    @include space-between;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding-left: 2.25rem;
    }
    @include desktop {
      padding-left: 0;
    }

    nav {
      width: 100%;
      @include tablet {
        width: 10rem;
        margin-left: 4rem;
      }

      .nav__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;

        .nav__item {
          width: 50%;
          display: flex;
          justify-content: center;
          @include tablet {
            height: 4rem;
            margin: 1rem 2rem 0rem 0rem;
          }

          &.nav__item--active {
            border-bottom: 4px solid $White;

            .nav__link {
              font-family: 'AvenirNextLT-demi', Arial, sans-serif;
              color: $White;
            }
          }

          &.nav__item:hover {
            border-bottom: 4px solid $White;

            .nav__link {
              color: $White;
            }
          }
          .nav__link {
            color: $Mercury;
            text-decoration: none;
            display: flex;
            justify-content: center;
            padding: 1rem;

          }
        }
      }
    }
  }
}

// HERO SECTION

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 17rem;
  @include tablet {
    height: 70vh;
    background-position: 80% 60%;
  }

  .hero__overlay {
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.5);
    position: relative;
    z-index: 1;
  }

  .hero__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    justify-content: flex-start;

    .hero__title {
      margin-left: 1rem;
      color: $White;
      position: relative;
      z-index: 2;
      @include tablet {
        margin-left: 2.25rem;
        font-size: 3.75rem;
        line-height: 4.25rem;
      @include desktop {
        margin-left: 0;
      }
      }
    }
  }
}

// ABOUT SECTION
.about {
  @include tablet {
    padding: 0rem 2.25rem;
  }

  .about__wrapper {

    .about__title {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
      margin: 0;
      // I tried to put the bold font but it seemed way off with the mockup
      @include tablet {
        @include tablet-subheader;
        padding-bottom: 2rem;
      }
    }
  }

  .about__subwrapper {
    @include tablet {
      width: 80%;
      max-width: 56.25rem;
      margin: 0 auto;
    }
    .about__img {
      width: 100%;
    }

    .quote {
      font-size: 1rem;
      font-family: 'AvenirNextLT-demi', Arial, sans-serif;
      line-height: 1.5rem;
      @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
      }
      @include desktop {
        max-width: 80%;
      }

      .quote__credit {
        @include tablet {
          font-size: 1.25rem;
          line-height: 1.5rem;
        }
      }
    }

    .bio {

      .bio__title {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-family: "AvenirNextLT-demi", Arial, sans-serif;
        margin: 1.5rem 0rem 0rem 0rem;
        @include tablet {
          font-size: 1.5rem;
          line-height: 2rem;
          margin-top: 3rem;
        }
      }

      .bio__boxcontent {
        display: flex;
        flex-direction: column;
        @include tablet {
          @include space-between;
          flex-direction: row;
        }

        .bio__infocard {
          font-size: 0.8125rem;
          line-height: 1.125rem;
          color: $BandSite-Black;
          @include tablet {
            width: 48%;
            font-size: 0.875rem;
            line-height: 1.375rem;
            margin: 1.5rem 0rem 2rem 0rem;
          }
        }
      }
    }
  }
}

// PHOTOS GALLERY SECTION
.photos {
  background-color: $Alabaster;
  padding: 1rem 1rem 0rem 1rem;
  @include tablet {
    padding: 2.25rem;
  }
  .photos__wrapper {

    .photos__title {
      @include tablet {
        @include tablet-subheader;
        margin: 0.75rem 0rem 2.25rem 0rem;
      }
    }

    .photos__gallery {
      @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      .photos__item {
        width: 100%;
        padding-bottom: 1rem;
        @include tablet {
          width: 30%;
          padding-bottom: 1.5rem;
        }
      }
    }
  }
}

// JOIN THE CONVERSATION SECTION (COMMENTS SECTION)

.comments {
  padding: 0rem 1rem;
  @include tablet {
    padding: 2.25rem;
  }
  .comments__wrapper {

    .comments__top {

      .comments__title {
        @include tablet {
          @include tablet-subheader;
          margin: 0.75rem 0rem 2.25rem 0rem;
        }
      }
      .comments__container {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 1rem;

        @include tablet {
          width: 85%;
          margin: 0 auto;
        }
        @include desktop {
          width: 50%;
          margin: 0 auto;
        }

        .comments__avatar {
          background-color: $Mercury;
          height: 2.25rem;
          width: 2.25rem;
          background-position: center left;
          background-size: cover;
          border-radius: 50%;
          margin: 1.375rem 1rem 0rem 0rem;

          &.comments__avatar--main {
            background-image: url(../assets/Images/Mohan-muruge.jpg);
          }

          @include tablet {
            width: 3rem;
            height: 3rem;
          }
        }

        .comments__form-box {
          width: 100%;

          .comments__form {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .comments__label {
              @include label;
              width: 100%;

              .comments__name {
                @include field;
                margin: 4px 0px 16px 0px;

                &.comments__name {
                  outline-color: $BandSite-Black;
                };
              }
              .comments__comment {
                resize: none;
                height: 7rem;
                @include field;
                margin: 4px 0px 16px 0px;

                &.comments__comment:focus {
                  outline-color: $BandSite-Black;
                }
              }
            }
            .comments__btn {
              width: 100%;
              @include button;
              @include tablet {
                width: 10rem;
                padding: 0rem 6rem;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
    .list {
      padding: 0;
      border-top: 1px solid $Mercury;

      @include tablet {
        width: 80%;
        margin: 0 auto;
      }
      @include desktop {
        width: 50%;
        margin: 0 auto;
      }

      .list__item {
        list-style: none;
        display: flex;
        flex-direction: row;
        @include divider;

        .list__avatar-box {
          margin-top: 0;

          .list__avatar {
            background-color: $Mercury;
            height: 2.25rem;
            width: 2.25rem;
            background-position: center left;
            background-size: cover;
            border-radius: 50%;
            margin: 1rem 1rem 0rem 0rem;

            @include tablet {
              width: 3rem;
              height: 3rem;
            }

          }
        }

        .list__info-box {
          width: 100%;

          .list__head {
            display: flex;
            justify-content: space-between;
            .list__name {
              font-family: 'AvenirNextLT-demi', Arial, sans-serif;
            }
            .list__date {
              color: $Silver;
            }
          }
        }
        .list__comment {
          margin: 0rem 0rem 1rem 0rem;
        }
        .list__likeSection {
          display: flex;
          margin-bottom: 1rem;
          align-items: center;

          .list__likeCount{
            margin: 0 0.5rem 0 0;
          }
          .list__likeBtn {
            // margin-bottom: 1rem;
          }
        }
      }
    }
  }
}


// FOOTER SECTION
footer {
  background-color: $BandSite-Black;
  color: $White;
  @include tablet {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }

  .top-footer {
    display: flex;
    flex-direction: column;
    @include tablet {
      @include space-between;
      flex-direction: row;
      align-items: center;
    }

    .top-footer--left{
      @include tablet {
        width: 60%;
        display: flex;

      }
      .footer-title {
        max-width: 54%;
        color: $White;
        @include tablet {
          @include tablet-subheader;
          max-width: 100%;
          margin-right: 2rem;
          margin: 0rem 2rem 0rem 0rem;
        }
      }

      .social {
        max-width: 35%;
        @include space-between;
        @include tablet {
          width: 20%;
          display: flex;
          align-items: center;
        }

        .social__link {
          display: flex;
          @include tablet {
            height: 1.375rem;
            margin-right: 2rem;
          }

          .social__icon {
            display: flex;
          }
        }
      }
    }

    .logo {
      display: none;

      @include tablet {
        display: flex;
      }
    }
  }
  .card-container {
    @include tablet {
      display: flex;
      justify-content: space-around;
    }
    .footer-card {
      margin: 1rem 0rem;

      .footer-card__person {
        margin: 1.5rem 0rem;
        @include tablet {
          margin: 2rem 0rem;
        }

        .footer-card__name, .footer-card__company {
          font-family: 'AvenirNextLT-demi', Arial, sans-serif;
          margin: 3px 0px;
        }
      }

      .footer-card__address {

        .footer-card__info {
          margin: 3px 0px;
        }
      }

      .footer-card__email {
        margin: 1.5rem 0rem;
        @include tablet {
          margin: 2rem 0rem;
        }
      }
    }
  }

  .bottom-footer {
    margin-top: 4rem;
    padding-bottom: 1rem;
    @include tablet {
      margin: 0rem;
      padding: 0;
    }

    .logo {
      display: flex;
      padding-left: 0;

      @include tablet {
        display: none;
      }
    }
  }
}