@use './partials/mixin' as *;
@use './partials/variables' as *;
@use './partials/fonts' as *;

// GENERAL STYLING
* {
  box-sizing: border-box;
  border: 1px dashed orange;
}


// HERO SECTION STYLING

.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // height: 17rem;
  height: 25rem;
  @include tablet {
    height: 70vh;
    background-position: 80% 60%;
  }

  @include desktop {
    height: 100vh;
  }

  .hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero__container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    @include desktop {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0;
    }

    .hero__sub-container {
      // width: 50%;

      &.hero__sub-container--right {
        // display: flex;
        // justify-content: center;
        // align-items: flex-end;
        // width: 50%;


        @include desktop {
          height: 18rem;
          padding: 2rem 0rem;
        }
      }
    }

    .hero__album {
      color: $White;
      font-family: "AvenirNextLT-demi";

      @include tablet {
        font-size: 36px;
        line-height: 44px;
      }
    }

    .hero__title {
      margin: 1.5rem 0rem;
      width: 100%;

      @include tablet {
        font-size: 60px;
        line-height: 68px;
      }
    }
  }



  .hero__soundcloud {
    // width: 90vw;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    height: 10rem;
    width: 100%;
    max-width: 400px;

  }
}


// SHOWS SECTION STYLING
