@font-face {
  font-family: "AvenirNextLT-regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLT-bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLT-demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}
@media (min-width: 768px) {
  .hero {
    height: 70vh;
    background-position: 80% 60%;
    margin-top: 5rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 91vh;
  }
}
.hero .hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero__container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 768px) {
  .hero .hero__container {
    margin: 2rem;
  }
}
@media (min-width: 1280px) {
  .hero .hero__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
}
.hero .hero__container .hero__sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1280px) {
  .hero .hero__container .hero__sub-container {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1280px) {
  .hero .hero__container .hero__sub-container.hero__sub-container--right {
    height: 18rem;
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
.hero .hero__container .hero__album {
  color: #FFF;
  font-family: "AvenirNextLT-regular";
  margin: 0;
}
@media (min-width: 768px) {
  .hero .hero__container .hero__album {
    font-size: 2rem;
    line-height: 2.75rem;
    margin: 0;
  }
}
.hero .hero__container .hero__title {
  margin: 1rem 0rem;
  width: 60%;
}
@media (min-width: 768px) {
  .hero .hero__container .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    width: 75%;
    margin: 1rem 0rem 3rem 0rem;
  }
}
@media (min-width: 1280px) {
  .hero .hero__container .hero__title {
    width: 100%;
  }
}
.hero .hero__soundcloud {
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 100%;
  max-width: 500px;
}
@media (min-width: 1280px) {
  .hero .hero__soundcloud {
    max-width: 28.125rem;
  }
}

@media (min-width: 1280px) {
  .shows .shows__wrapper {
    display: flex;
  }
}
.shows .shows__wrapper .shows__title {
  margin: 2rem 0rem;
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin: 1rem;
}
@media (min-width: 768px) {
  .shows .shows__wrapper .shows__title {
    margin: 2rem;
  }
}
@media (min-width: 1280px) {
  .shows .shows__wrapper .shows__title {
    margin: 3.5rem 0rem;
  }
}
.shows .shows__wrapper .shows__sub-container {
  margin: 1rem;
}
@media (min-width: 768px) {
  .shows .shows__wrapper .shows__sub-container {
    margin: 2rem;
  }
}
@media (min-width: 1280px) {
  .shows .shows__wrapper .shows__sub-container {
    margin: 2rem 0rem 2rem 5rem;
    width: 100%;
  }
}
.shows .shows__wrapper .shows__sub-container .shows__label-box {
  display: none;
}
@media (min-width: 768px) {
  .shows .shows__wrapper .shows__sub-container .shows__label-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .shows .shows__wrapper .shows__sub-container .shows__label-box {
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
}
.shows .shows__wrapper .shows__sub-container .shows__label-box .shows__top-label {
  display: none;
  display: flex;
  flex-direction: column;
  color: #AFAFAF;
  text-transform: uppercase;
  font-family: "AvenirNextLT-demi";
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .shows .shows__wrapper .shows__sub-container .shows__label-box .shows__top-label {
    display: flex;
    width: 25%;
    margin: 0rem;
    font-size: 0.875rem;
  }
}
.shows .shows__wrapper .shows__sub-container .list {
  list-style: none;
  padding-left: 0;
}
@media (min-width: 768px) {
  .shows .shows__wrapper .shows__sub-container .list {
    margin-top: 0;
  }
}
.shows .shows__wrapper .shows__sub-container .list .list__item {
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows .shows__wrapper .shows__sub-container .list .list__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    padding: 1rem;
  }
}
.shows .shows__wrapper .shows__sub-container .list .list__item.list__item:hover {
  background-color: #FAFAFA;
}
.shows .shows__wrapper .shows__sub-container .list .list__item.list__item:focus {
  background-color: #E1E1E1;
}
.shows .shows__wrapper .shows__sub-container .list .list__item .list__label {
  display: flex;
  flex-direction: column;
  color: #AFAFAF;
  text-transform: uppercase;
  font-family: "AvenirNextLT-demi";
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .shows .shows__wrapper .shows__sub-container .list .list__item .list__label {
    width: 25%;
    color: #FFF;
  }
  .shows .shows__wrapper .shows__sub-container .list .list__item .list__label .list__span {
    display: none;
  }
}
.shows .shows__wrapper .shows__sub-container .list .list__item .list__label .list__info {
  text-transform: capitalize;
  color: #000;
  font-family: "AvenirNextLT-regular", Arial, sans-serif;
  font-size: 1rem;
}
.shows .shows__wrapper .shows__sub-container .list .list__item .list__label .list__info--date {
  font-family: "AvenirNextLT-demi";
}
.shows .shows__wrapper .shows__sub-container .list .list__item .list__btn {
  width: 100%;
  height: 3rem;
  text-transform: uppercase;
  background-color: #323232;
  color: #FFF;
  font-family: "AvenirNextLT-demi";
  font-size: 16px;
  border-radius: 4px;
  border-color: #323232;
  min-width: 9.375rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .shows .shows__wrapper .shows__sub-container .list .list__item .list__btn {
    max-width: 12.5rem;
  }
}
.shows .shows__wrapper .shows__sub-container .list .list__item .list__btn:hover {
  background-color: #000;
}
@media (min-width: 768px) {
  .shows .shows__wrapper .shows__sub-container .list .list__item .list__btn {
    min-width: 9.375rem;
    padding: 0 2rem 0 2rem;
    width: 25%;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=shows.css.map */