@use './partials/mixin' as *;
@use './partials/variables' as *;
@use './partials/fonts' as *;

// GENERAL STYLING
* {
  box-sizing: border-box;
  // border: 1px dashed orange;
}


// HERO SECTION STYLING

.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  @include tablet {
    height: 70vh;
    background-position: 80% 60%;
    margin-top: 5rem;
  }

  @include desktop {
    height: 91vh;
  }

  .hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero__container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    @include tablet {
      margin: 2rem;
    }

    @include desktop {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0;
    }

    .hero__sub-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include desktop {
        width: 50%;
        display: flex;
        flex-direction: column;
      }


      &.hero__sub-container--right {

        @include desktop {
          height: 18rem;
          padding: 2rem 0rem;
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }
      }
    }

    .hero__album {
      color: $White;
      font-family: "AvenirNextLT-regular";
      margin: 0;

      @include tablet {
        font-size: 2rem;
        line-height: 2.75rem;
        margin: 0;
      }
    }

    .hero__title {
      margin: 1rem 0rem;
      width: 60%;

      @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
        width: 75%;
        margin: 1rem 0rem 3rem 0rem;
      }

      @include desktop {
        width: 100%;
      }
    }
  }

  .hero__soundcloud {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 100%;
    max-width: 500px;

    @include desktop {
      max-width: 28.125rem;
    }
  }
}

// SHOWS SECTION STYLING

.shows {

  .shows__wrapper {
    @include desktop {
      display: flex;
    }
    .shows__title {
      margin: 2rem 0rem;
      @include tablet-subheader;
      margin: 1rem;
      @include tablet {
        margin: 2rem;
      }
      @include desktop {
        margin: 3.5rem 0rem;
      }
    }

    .shows__sub-container {
      margin: 1rem;
      @include tablet {
        margin: 2rem;
      }
      @include desktop {
        margin: 2rem 0rem 2rem 5rem;
        width: 100%;
      }

      .shows__label-box {
        display: none;
        @include tablet {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
        @include desktop {
          margin-bottom: 2rem;
          margin-top: 3rem;
        }

        .shows__top-label {
          display: none;
          @include label;
          @include tablet {
            display: flex;
            width: 25%;
            margin: 0rem;
            font-size: 0.875rem;
          }
        }
      }

      .list {
        list-style: none;
        padding-left: 0;
        @include tablet {
          margin-top: 0;
        }

        .list__item {
          @include divider;
          margin-bottom: 1rem;
          @include tablet {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0;
            padding: 1rem;
          }

          &.list__item:hover {
            background-color: $Alabaster;
          }
          &.list__item:focus {
            background-color: $Mercury;
          }

          .list__label {
            @include label;
            @include tablet {
              width: 25%;
              color: $White;

              .list__span {
                display: none;
              }
            }
            .list__info {
              text-transform: capitalize;
              color: $BandSite-DarkBlack;
              font-family: 'AvenirNextLT-regular', Arial, sans-serif;
              font-size: 1rem;

              &--date {
                font-family: "AvenirNextLT-demi";
              }
            }
          }


          .list__btn {
            width: 100%;
            @include button;
            margin-bottom: 1rem;

            @include tablet {
              min-width: 9.375rem;
              padding: 0 2rem 0 2rem;
              width: 25%;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}